@import "../datepicker.vars";

.week,
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week {
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 0.7em;
    color: $font_light;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
  }
}

.grid {
  grid-template-rows: repeat(4, 1fr);
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

.month-label {
  display: block;
  width: 100%;

  color: $font_light;
  font-size: .9rem;
  text-align: center;
  padding-bottom: 10px;
}
