<div class="container">
  <label>
    <span>Pick date</span>
    <input type="text"
           appSimpleDatepicker
           [single]="true"
           [dateRange]="false"
    >
  </label>

  <!--<label>-->
  <!--  <span>Pick date</span>-->
  <!--  <input type="text"-->
  <!--         appSimpleDatepicker-->
  <!--         [single]="false"-->
  <!--         [dateRange]="true"-->
  <!--  >-->
  <!--</label>-->

  <!--<label>-->
  <!--  <span>Pick date</span>-->
  <!--  <input type="text"-->
  <!--         appSimpleDatepicker-->
  <!--         [single]="false"-->
  <!--         [dateRange]="true"-->
  <!--  >-->
  <!--</label>-->
</div>


<!--<app-simple-datepicker-->
<!--  [class.show]="isShow"-->
<!--  id="picker"-->
<!--  (onChecked)="onChecked($event)"-->
<!--  (onDayChecked)="onDayChecked($event)"-->
<!--  [dateRange]="true"-->
<!--  [single]="false">-->
<!--</app-simple-datepicker>-->



