
.datepicker {
  font-family: sans-serif;
  max-width: max-content;
  margin: 3em auto 0 auto;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid #f0f4f8;
  border-radius: 8px;

  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 1rem;

  * {
    box-sizing: border-box;
  }
}


