<div class="datepicker" [class.single]="single" (click)="$event.stopPropagation()">

  <app-datepicker-ranges
    [ranges]="dateRanges"
    [isShow]="dateRangeShow"
    (toggle)="dateRangeShow = !dateRangeShow"
    (onCheckRange)="setDateRange($event)">
  </app-datepicker-ranges>

  <app-datepicker-grid
    [month]="month"
    [monthLabel]="currentMonthLabel"
    [localDays]="localDays"
    [isRange]="dateRange"
    (dayChecked)="dayCheckedHandle($event)"
  >
    <div class="month-control">
      <button class="month-control-btn" (click)="setPrevMonth()"><</button>

      <select class="month-select" name="month" [value]="currentMonthIndex" (change)="onSelectMonth($event)">
        <option *ngFor="let month of localMonth, index as i" [value]="i">{{month}}</option>
      </select>

      <button class="month-control-btn" (click)="setNextMonth()" *ngIf="single">></button>
    </div>
  </app-datepicker-grid>

  <app-datepicker-grid
    *ngIf="!single"
    [month]="nextMonth"
    [monthLabel]="nextMonthLabel"
    [localDays]="localDays"
    [isRange]="dateRange"
    (dayChecked)="dayCheckedHandle($event)"
  >
    <div class="month-control">
      <label class="month-label">{{nextMonthLabel}}</label>
      <button class="month-control-btn" (click)="setNextMonth()">></button>
    </div>
  </app-datepicker-grid>

  <div class="datepicker-control">
    <button class="datepicker-control-btn close" (click)="onClickClose.emit()">&#10005;</button>
    <button class="datepicker-control-btn submit" [disabled]="!isCanSubmit" (click)="onClickSubmit.emit()">Submit</button>
  </div>
</div>
