<div class="datepicker">
  <div class="datepicker-fast">
    <button class="datepicker-btn">Неделя</button>
    <button class="datepicker-btn">Месяц</button>
    <button class="datepicker-btn">Год</button>
  </div>

  <app-datepicker-grid
    [month]="month"
    [monthLabel]="currentMonthLabel"
    [localDays]="localDays"
    (dayChecked)="dayChecked($event)">
  </app-datepicker-grid>

  <app-datepicker-grid
    [month]="nextMonth"
    [monthLabel]="nextMonthLabel"
    [localDays]="localDays"
    (dayChecked)="dayChecked($event)">
  </app-datepicker-grid>
</div>
