@import "datepicker.vars";

.datepicker {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: max-content;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid $color_light;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  grid-gap: .4rem;
  grid-column-gap: 1rem;

  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 0.4);

  &.is-close {
    display: none;
  }

  &-control {
    margin-left: auto;
    width: 100%;
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;

    &-btn {
      background-color: transparent;
      border-radius: 3px;
      padding: 6px 9px;
      border: none;
      cursor: pointer;
      transition: .4s ease all;
      outline: none;
      font-size: 1rem;

      & + & {
        margin-left: 10px;
      }

      &.submit {
        background-color: $color_primary;
        color: $color_light;
        box-shadow: 0 1px 4px -1px rgb(0 0 0 / 60%);

        &[disabled] {
          transition-duration: 0s;
          background-color: $color_light;
          box-shadow: none;
          color: $color_lighter
        }
      }

      &.close {
        color: $color_warn;
        font-weight: bold;
      }

      &:hover {
        opacity: .85;
        &:not(.submit) {
          color: $color_dark;
        }
      }
    }
  }

  &.single {
    grid-template-columns: 1fr;

    .datepicker-control {
      grid-column: 1/2;
    }
  }

  * {
    box-sizing: border-box;
  }
}


.datepicker-fast {
  display: grid;
  align-items: flex-start;
  grid-gap: .6rem;
  z-index: 2;


  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;

  background-color: rgba(255, 255, 255, 0.9);
  color: $color_primary;
  padding: 1rem;

  box-shadow: 6px 0 10px -5px rgba(0, 0, 0, 0.4);
  transform: translateX(calc(-100% - 10px));

  transition: .4s ease all;

  &.is-show {
    transform: translateX(0);

    .datepicker-fast-trigger {
      &:hover {
        transform: translateX(calc(100%));
      }
    }
  }

  &-trigger {
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: $color_primary;
    color: $color_light;
    border-radius: 0 0 4px 0;
    border: none;
    transform: translateX(100%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    outline: none;
    cursor: pointer;

    transition: .4s ease all;

    &:hover {
      transform: translateX(calc(100% + 10px));
    }
  }
}

.fast-wrapper {
  display: grid;
  grid-gap: 8px;
}

.datepicker-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  width: 100%;
  padding: 6px;
}

.month {
  &-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &-select,
  &-label {
    display: block;

    color: $font_light;
    font-size: .9rem;
    text-align: center;
    border: none;
  }
}

