@import "../datepicker.vars";

.day {
  width: 4ch;
  height: 4ch;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $font_dark;
  transition: all .4s ease;

  &.is-today {
    border: $color_accent 2px solid;
  }

  &.is-weekend {
    color: red;
  }

  &[disabled] {
    cursor: not-allowed;
    color: $color_disabled;
    opacity: .6;
    font-weight: normal !important;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color_light;
    color: $color_dark;
  }
}
