@import "../datepicker.vars";

.day {
  width: 4ch;
  height: 4ch;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $font_dark;
  transition: all .4s ease;

  &.is-today {
    border: $color_accent 2px solid;
  }

  &.is-weekend {
    color: $color_warn;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color_light;
    color: $color_dark;
  }

  &.is-checked {
    background-color: $color_light;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $color_primary;
      color: $color_light;
    }

    &.first {
      background-color: $color_primary;
      color: $color_light;
      border-radius: 20px 0 0 20px;
    }

    &.last {
      background-color: $color_primary;
      color: $color_light;
      border-radius: 0 20px 20px 0;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: transparent !important;
    color: $color_disabled !important;
    opacity: .6;
    font-weight: normal;
  }
}
