.day {
  width: 4ch;
  height: 4ch;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #486581;
  transition: all .4s ease;

  &.is-today {
    border: orange 2px solid;
  }

  &.is-weekend {
    color: red;
  }

  &[disabled] {
    cursor: not-allowed;
    color: #bcccdc;
    opacity: .6;
    font-weight: normal !important;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: #f0f4f8;
    color: #334e68;
  }
}
